.bdd{
    background-color: orange;
    width: 50rem;
    height: 10rem;
    border-radius: 20px;  
}

.may{
    background-color: pink;
    width: 50rem;
    height: 10rem;
    border-top: 12px solid blue;
}