.survey-section-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  padding: 2px;
  text-align: right;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-top: 1rem;
  padding-top: 0.4rem;
  box-shadow: 1px 2px 4px 1px rgb(131, 131, 131);
}

.survey-section-add-title-container {
  width: 10rem;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-top: 1rem;
  box-shadow: 1px 2px 4px 1px rgb(131, 131, 131);
  display: flex;
  justify-content: space-evenly;
}

.survey-section-add-title {
  margin-top: 0.4rem;
  color: rgb(82, 80, 80);
}

.survey-section-input_question_name {
  width: 40rem;
  height: 3.5rem;
  background-color: #f8f9fb;
  font-size: 2rem;
  text-align: right;
  border: 0;
  outline: 0;
  background: transparent;
  margin-right: 0.5rem;
}
.survey-section-input_question_name-title {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  width: 62rem;
  height: 3.5rem;
  background-color: #f9f8fb;
  font-size: 2rem;
  text-align: right;
  border: 0;
  outline: 0;
  background: transparent;
  margin-right: 0.5rem;
}

.survey-section-input_question_name:focus {
  border-bottom: 2px solid #568ea8;
}
.survey-section-input_question_name-title:focus {
  border-bottom: 2px solid #568ea8;
}

.survey-section-input_question_type {
  display: flex;
  justify-content: space-around;

  margin-left: 1rem;
}

.survey-section-input_question_type_text {
  margin-left: 1rem;
  margin-top: 1rem;
}

.survey-section-input-type-question-name-container {
  display: flex;
  justify-content: space-between;
}

.survey-section_add_answer {
  margin-right: 0.3rem;
}

.survery-section-drag-indicatior-container {
  display: flex;
  justify-content: center;
  transform: rotate(90deg);
  color: gray;
  height: 2px;
  margin-top: 1rem;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.bottom-container-must {
  display: flex;
  align-items: center; // Ensures the text is aligned with the flex items
}

.bottom-container-must span {
  display: inline-block;
  line-height: 2;
  padding: 0 1em;
  border-right: 1px solid;
}

.bottom-container-must-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; // Added to vertically center the items
}

.bottom-container-icons {
  display: flex;
  align-items: center; // Ensures the icons are aligned with the flex items
  color: rgb(82, 80, 80);
  margin-left: 1rem;
}

.switch {
  margin-top: 0.2rem;
}

.survey-section-container-title {
  width: 64rem;
  height: 10rem;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  padding: 2px;
  text-align: right;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-top: 1rem;
  padding-top: 0.4rem;
  box-shadow: 1px 2px 4px 1px rgb(131, 131, 131);
}
