.number-of-question {
  display: inline-block;
  font-size: small;
}

.switch-to-next-question-arrow {
  display: inline-block;
}

.switch-to-previous-question-arrow {
  display: inline-block;
}

input {
  margin-left: 1rem;
  display: inline-block;
  font-size: small;
}
