.answers-section-answers-container {
  display: flex;
  justify-content: right;
  margin-top: -23px;
  margin-bottom: -23px;
  width: 100%;
}

.answers-section-answers-X-button {
  margin-left: 1rem;
  margin-top: 1rem;
  border: 0;
  background-color: white;
  // width: 3rem;
  height: auto;
  border-radius: 25px;
  cursor: pointer;
  padding: 0;
}

.answers-section-answers-X-button:active {
  background-color: #9dc8fe;
  transform: translateY(4px);
}

.answers-section-container {
  margin-top: 2rem;
  margin-bottom: 2.2rem;
}

.ulclass {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.liClass {
  height: auto;
  display: flex;
  align-items: center;
}

.answers {
  padding-right: 1rem;
  display: flex;
  justify-content: right;
}

.dragIconAnswer {
  margin-top: 0.2rem;
  transform: rotate(90deg);
  color: gray;
}

.dragIconAnswerCheckbox {
  margin-bottom: 0.4rem;
  transform: rotate(90deg);
  color: gray;
}

.dragIconAnswerselect {
  margin-top: 0.2rem;
  transform: rotate(90deg);
  color: gray;
}
