.question-choosing-section-upper-part-main {
  height: 5rem;
  width: 50rem;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
