.survey-answer-unit_scroll_survey_units {
    background-color: palevioletred;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.survey-answer-unit_page_conter {
    margin-top: 1rem;
}

.survey-answer-unit_text_filed {
    border-bottom: 2rem;
    width: 4rem;
}

.survey-answer-unit_questions_and_answers {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}