.answer-card {
  height: auto;
  width: 50rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  margin-top: 0.6rem;
  
}

.radio-answer-section {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.checkbox-answer-section {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.radio-answer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 1rem;
}

.checkbox-answer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 1rem;
}

hr {
  width: 50rem;
  color: black;
  size: 3;
}

.answer-counter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 1rem;
}
